
/*-----------------------------------------------------------------------------------------------*/
/*                                         TOOLTIP STYLES                                        */
/*-----------------------------------------------------------------------------------------------*/

                span.tools {
		    display:none;
		    position:absolute;
		    z-index:1000;
		    -moz-border-radius:4px;
		    -webkit-border-radius:4px;
		}

		.tooltip-style1 {
			background:#5a85a5 url(../images/onebit_47.png) 10px center no-repeat;
			color:white;
			min-height:30px;
                        width: 200px;
			padding:10px 20px 10px 65px;
			opacity:0.9;
		}

		.tooltip-style2 {
			background:#363636;
			padding:3px;
			color:white;
			text-align:center;
		}

		.tooltip-style3 {
			background:#e8e8e8;
			color:black;
			padding:15px;
		}
		pre {
			font-size:10px;
		}
