
 <%= render 'layouts/organizer_navigation' %>
 <div class="clear"></div>
 <div class="fleft bigleft">
 <h2>Create New Event</h2>
<%= render 'form' %>

<%= link_to 'Back', events_path %>
 </div>
 <div class ="clear"></div>
 
