
<%= render 'layouts/organizer_navigation' %><br/>
<div class="clear"></div>

<div class=" bigleft">
  <h3>New Email Contact</h3>
<%= render 'form' %>

<%= link_to 'Back', organizer_emails_path(@organizer) %>
</div>
